<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
    <link rel='stylesheet' href='/css/login.css' />
  </head>
  <body>
    <header>
      <h1>RecipeSharer</h1>
    </header>
      <img src='https://cbspittsburgh.files.wordpress.com/2015/11/recipes-1024x576.jpg?w=1024&h=576&crop=1' />
    <div class="container">
</br>
    <a class="waves-effect waves-light btn" href="/users/new">Sign Up</a></h2>
  </br>
    <a class="waves-effect waves-light btn" href="/sessions/new">Log In</a>

</div>


  </body>
</html>
