<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
    
    <link rel='stylesheet' href='/css/main.css' />
  </head>
  <body>

    <div class="container">
<a class="waves-effect waves-light btn " href="/sessions/new">Log In</a>
  </br>
    <a  class="waves-effect waves-light btn" href="/users/new">Sign Up</a></h2>
</br>
</div>


  </body>
</html>
