<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
    <title>recipeSharer</title>
  </head>
  <body>
    <div class="container">
      <h1>Recipe Recipe</h1>
      <div class="row">
        <form class="col s12" action='/sessions' method='POST'>
          <div class="row">
            <div class="input-field col s6">
              <input placeholder="name" id="name" type="text" class="validate" name="name" required>
              <label for="name">Recipe Name</label>
            </div>
          </div>
          <div class="row">
            <div class=" ">
              <input id="directions" type="textarea" class="validate" name="directions" required>
              <label for="directions">directions</label>
            </div>
          </div>
          <div class="row">
            <div class=" ">
              <input id="ingredients" type="textarea" class="validate" name="ingredients" required>
              <label for="ingredients">ingredients</label>
            </div>
          </div>
          <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
        </form>
      </div>
    </div>



  </body>
</html
