<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
    <title>Recipe Recipe</title>
  </head>
  <body>
    <h1>Welcome to the RecipeShare</h1>

    <div class='container'>


    <%  for(let i = 0; i < Messages.length; i++){ %>
        <div>
          <h4>Dish Name: <%=Messages[i].name %></h4> </br>
          <p><strong>Ingredients: </strong><%=Messages[i].ingredients %></p> </br>
          <p><strong>Directions: </strong><%=Messages[i].directions %></p>
          <form action="/sessions/<%=Messages[i].id%>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE"/>
        </form>
        </div>
    <%  } %>









              <a href='sessions/recipeNew'>Add a recipe</a>





    </div>

  </body>
</html
