<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
    <title>Recipe Recipe</title>
  </head>
  <body>
    <h1>Welcome to the RecipeShare</h1>

    <div class='container'>
      <a href='sessions/recipeNew'>Add a recipe</a>
    </div>


  </body>
</html
